<div class="header home">
  <img src="resources/images/logo_header-01.png">
</div>

<div class="lista-bandas">
  <div ng-repeat="grupo in grupos" id="VotarGrupos">
    <a class="banda-linha" data-toggle="collapse" data-target="#collapse-{{$index}}">
      <!-- no a:  ui-sref="grupo({gruponome: $index})" -->
      <!-- ng-repeat="band in bands | orderBy: band.showtime:reverse"  -->
      <div class="img-banda">
        <img ng-src="{{grupo.image}}" ui-sref="grupo({gruponome: $index})">
      </div>
      <div class="banda-info">
        <h4>{{grupo.gruponome}}</h4>
        <span>{{grupo.descricao}}</span>
      </div>
    </a>
    <div class="collapse" id="collapse-{{$index}}">
      <div class="slide">
        <input type="text" class="span2" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
      </div>
      <div id="bodyBandaView">
        <div class="well container-voto">
            <h3>Vote Agora</h3>
            <h4>Gostou da atração? Vote para ela ser a melhor:</h4>
            <!-- <div class="bar-wrap">
              <img src="resources/images/voto_icn_like-01.png" class="down">
              <input id="{{grupo.dado1}}" data-slider-id='ex{{grupo.dado1}}Slider' type="text" data-slider-tooltip="hide" data-slider-min="100" data-slider-max="300" data-slider-step="10" data-slider-value="200" ng-model="score"/>
              <img src="resources/images/voto_icn_clap-01.png" class="top">
            </div> -->
        </div>
      </div>
    </div>
  </div>

</div>
