<div class="header home">
  <img src="resources/images/logo_header-01.png">
</div>

<div class="welcomeCenter">
  <form action="#" method="post">
		Entre com o login:<br /><br />
		<div>
		    <label for="email">Param 1:</label>
		    <input type="text" id="email"/>
		</div>
		<div>
		    <label for="password">Param 2:</label>
		    <input type="email" id="password"/>
		</div>
    <button type="button" name="button" ng-click="login()">Logar</button>
	</form>

  <!--
  -ver frases e como fazer o botão de acordo com o status de apresentação
  -->


</div>
